@font-face {
    font-family: 'Monserrat-ExtraLight';
    src: url("fonts/Montserrat-ExtraLight.ttf");
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.background {
    padding: 0;
    background-image: url("images/background.jpg");
    background-position: center center;
    background-size: cover;

}

body {
    margin: 0;
}

:root {
    --grey: rgb(34, 34, 34);
}

/* #region title */


.title-text {
    height: 100vh;
    width: 100%;
    color: white;
    font-family: Monserrat-ExtraLight;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.064);
}


hr {
    border: 0.075em solid white;
    height: 0em;
    width: 15em;
}

/* #endregion */
/* #region navbar */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    height: 6vh;
}

.button-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn:not(.last) {
    border-right: 0.05em solid white;
}

.btn {
    border: none;
    margin: none;
    outline: none;
    background-color: #00000000;
    cursor: pointer;
    font-family: Monserrat-ExtraLight;
    font-size: 1.25em;
    color: white;

    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

.btn:hover {
    text-decoration-line: underline;
    text-decoration-color: rgb(77, 190, 255);
}

.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nav-line {
    height: 0em;
    border: 0.075em solid var(--grey);
    border-radius: 1em;
    width: 0.75em;
}

.nav-line.active {
    border: 0.075em solid white;
}


/* #endregion */

/* #region images */
.images {
    padding-left: 0.75vw;
    padding-right: 0.75vh;
    /* column-count: 5; */
    column-gap: 0.75vw;
    background-color: var(--grey);
}

@media screen and (min-width: 2400px){
    .images{
        column-count: 5;
    }
}

@media screen and (max-width: 2400px){
    .images{
        column-count: 4;
    }
}

@media screen and (max-width: 1400px){
    .images{
        column-count: 3;
    }
}

@media screen and (max-width: 800px){
    .images{
        column-count: 2;
    }
}

.filterDiv {
    display: none;
}

.images img {
    width: 100%;
    height: auto;
    padding: 0;
    margin-bottom: 0.75vw;

}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* #endregion */

/* #region modal */

#modal {
    background-color: rgba(0, 0, 0, 0.871);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 100;
}

#modal.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#modal-screen-items {
    max-width: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(0, 2.5vh);
    z-index: 110;
}

#modal-img {
    max-width: 85%;
    max-height: 85%;
    object-fit: contain;
    z-index: 150;
    margin-left: 1vw;
    margin-right: 1vw;
}

.modal-btn {
    background-color: rgba(0, 0, 0, 0);
    display: flex;
}

#modal-screen-btn {
    z-index: 111;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    transform: translate(0, -2.5vh);
}

.modal-icon {
    width: 3vh;
    margin-top: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
}

#modal-nav-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 500;
}

.modal-nav-btn {
    z-index: 500;
    background-color: rgba(0, 0, 0, 0);
}

.modal-nav-btn:hover {
    cursor: pointer;
}

/* #endregion */