:root{
    --grey: rgb(55, 55, 55);
}


.background {
    padding: 0;
    background-image: url("../images/background.jpg");
    background-position: center center;
    background-size: cover;
    height: 100vh;
    
}

.title-text{
    height: 100vh;
    color: white;
    font-family: 'Montserrat', sans-serif;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: rgba(0, 0, 0, 0.064);
}
.title-text .text{
    margin: 0;
}
hr{
    border: 1px white;
    margin: 0;
    width: 15em;
}
.images{
    column-count: 5;
    column-gap: 5px;
    background-color: var(--grey);
}
.images img{
    width: 100%;
    height: auto;
    margin-bottom: 5px;
}





